.container {
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;

  @media (min-width: 550px) {
    flex-direction: row;
  }

  & > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  img {
    height: 100px;
    @media (min-width: 550px) {
      height: unset;
    }
  }

  div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    max-width: 20ch;
  }

  .status {
    font-weight: 700;
    .available {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      color: var(--green);
    }
    .unavailable {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      color: var(--red);
    }
    .mat-icon {
      font-size: 1.3rem;
      height: 1.3rem;
      width: 1.3rem;
    }
  }
  .reserveNote {
    font-style: italic;
    color: var(--gray-500);
    font-size: 0.9rem;
  }

  .genre {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: var(--green);
  }
  .title {
    font-size: 1.8rem;
    color: var(--blue);
    margin: 0.6rem 0;
  }
  .authors {
    font-size: large;
    color: var(--green);
    margin-bottom: 0.6rem;
  }
  .year {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--gray-500);
    margin-bottom: 0.6rem;
  }
  .description {
    font-style: italic;
    color: var(--gray-500);
    line-height: 1.3rem;
    font-size: 1rem;
  }
  .additional {
    margin-top: 1rem;

    .pages {
      font-weight: 500;
    }
    .rating {
      display: flex;
      align-items: center;
      margin-top: 0.6rem;
      .ratingCount {
        margin-left: 0.3rem;
      }
      .mat-icon {
        font-size: 1.3rem;
        width: 1.3rem;
        height: 1.3rem;
        color: var(--yellow);
      }
    }
  }
}
