.container {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
}
.loginForm {
  position: fixed;
  inset: 0;
  background-color: white;
  width: 500px;
  max-width: 95%;
  height: fit-content;
  padding: 1rem;
  // border-radius: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
