<div class="container">
  <form
    class="loginForm shadow-light"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <h1>Login</h1>

    @if(error){
    <app-alert variant="error">{{ error }}</app-alert>
    }

    <div class="formGroup">
      <label class="label" for="email">Email</label>
      <input
        class="textInput"
        id="email"
        type="email"
        autocomplete="off"
        email
        required
        formControlName="email"
      />
    </div>

    <div class="formGroup">
      <label class="label" for="password">Password</label>
      <input
        class="textInput"
        id="password"
        type="password"
        autocomplete="off"
        name="password"
        required
        formControlName="password"
      />
    </div>
    <app-button variant="blue" [fullWidth]="true" [disabled]="!loginForm.valid">
      Login
    </app-button>
  </form>
</div>
