<div class="loansList">
  <h2>Active Loans</h2>
  @for (loan of activeLoans; track $index) {
  <div class="row activeLoan">
    <div class="book">
      <img [src]="loan.book?.thumbnail" alt="" />
      <div class="bookInfo">
        <h3 class="title">{{ loan.book?.title! | truncate : 50 }}</h3>
        <p class="authors">{{ loan.book?.authors! | splitSemi : 20 }}</p>
        <p class="year">{{ loan.book?.year }}</p>
        <p class="dueDate">Due {{ loan.due_date | date : "dd/MM/yyyy" }}</p>
      </div>
    </div>
    <app-button
      [fullWidth]="true"
      (clicked)="onReturn(loan.id)"
      variant="green"
    >
      Return</app-button
    >
  </div>
  } @if(!activeLoans || activeLoans.length < 1) {
  <div class="noLoans">
    <p>You currently have no active loans.</p>
  </div>
  }
</div>
<div class="loansList">
  <h2>Past Loans</h2>

  @for (loan of pastLoans; track $index) {

  <div class="row pastLoan">
    <div class="book">
      <img [src]="loan.book?.thumbnail" alt="" />
      <div class="bookInfo">
        <h3 class="title">{{ loan.book?.title! | truncate : 50 }}</h3>
        <p class="authors">{{ loan.book?.authors! | splitSemi : 20 }}</p>
        <p class="year">{{ loan.book?.year }}</p>
        <p class="returnDate">
          Returned {{ loan.return_date | date : "dd/MM/yyyy" }}
        </p>
      </div>
    </div>
  </div>
  } @if(this.currentPage < this.totalPages){<app-button
    variant="blue"
    [fullWidth]="true"
    (clicked)="handlePage()"
    >More</app-button
  >} @if(!pastLoans || pastLoans.length < 1) {
  <div class="noLoans">
    <p>You currently have no loans history.</p>
  </div>
  }
</div>
