<div class="container">
  <h2>User</h2>

  <div class="profile">
    <div class="avatar">
      <mat-icon
        aria-hidden="false"
        aria-label="success icon"
        fontIcon="person"
      />
    </div>
    <div class="info">
      <p class="name">{{ user?.lastName }}, {{ user?.firstName }}</p>

      <p>
        {{ user?.email }}
      </p>
    </div>
    <app-button variant="blue" (click)="onEditUser()">Edit Info</app-button>
    <button (click)="onLogout()" class="logoutButton">Log Out</button>
  </div>
</div>

<ng-template #editUser>
  <app-edit-user />
</ng-template>
