.btn {
  background: none;
  border: 1px solid transparent;
  font-weight: 600;
  padding: 0 2rem;
  // border-radius: 0.3rem;
  height: 3rem;
  text-transform: capitalize;
  cursor: pointer;
  transition: all ease 0.2s;
  white-space: nowrap;

  &-full {
    width: 100%;
  }

  &-primary {
    background-color: var(--gray-900);
    color: var(--gray-100);
  }

  &-green {
    background-color: var(--green);
    color: white;
  }

  &-navy {
    background-color: var(--navy);
    color: white;
  }

  &-red {
    background-color: var(--red);
    color: white;
  }

  &-purple {
    background-color: var(--purple);
    color: white;
  }

  &-beige {
    background-color: var(--beige-500);
    color: white;
    &:hover {
      background-color: var(--beige-100);
      color: var(--beige-500);
    }
  }

  &-blue {
    background-color: var(--blue);
    color: white;
  }

  &-cyan {
    background-color: var(--cyan);
    color: white;
  }

  &:disabled {
    background-color: var(--gray-300);
    opacity: 0.5;
    cursor: not-allowed;
  }
}
